.App {
  text-align: center;
}

.allGrafic {
  display: flex;
  justify-content: space-evenly;
}

.spacing {
  margin-top: 90px;
  width: 600px;
}

.spacingTwo {
  margin-top: 90px;
  width: 600px;
}

.spacingData {
  margin: 90px;
}

.buttonGrafic {
  display: flex;
  justify-content: center;
}
